.services-main-container {
    display: block;
    margin: 0px 100px;
    border-top: 1px rgba(0,0,0,.2) solid;
    border-bottom: 1px rgba(0,0,0,.2) solid;
    color: #333333;
  }

.services-main-container p {
  margin-top: 5px;
}

.services-main-a:link, .services-main:visited { 
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}

.services-main-a:link:active, .services-main-a:visited:active { 
  color: darkblue;
}

@media only screen and (max-width: 600px) {
  .services-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    text-align: left;
    margin: 0px 50px;
    border-top: 1px rgba(0,0,0,.2) solid;
  }
}