
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
	height: 450px;
	background-color: #F4F4F4;
}

/* .nav-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 120px;
	margin-bottom: 10px;
	} */

	@media only screen and (max-width: 600px) {
		.about-container {
			height: 500px;
		}
	}

	@media only screen and (max-width: 800px) {
		.about-container {
			height: 830px;
		}
	}