
.nav-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 120px;
	margin-bottom: 10px;
	}
	
	@media only screen and (max-width: 600px) {
		.nav-container {
			height: 150px;
		}

		.a-logo {
			width: 100%;
			text-align: center;
		}
	}
