.tracking__input {
    height: 40px;
    border-radius: 6px;
    width: 100%; 
  }

/* . form-control {
  font-family: Helvetica;
  font-size: 16px;
} */
  
  .tracking__info-box {
    text-align: center;
  }
  
  .tracking__info-box p {
    text-align: left;
  }
  
  .tracking__error-box {
    text-align: left;
    margin: 0;
  }
  
  .tracking__waybill-box dd {
    margin-bottom: 5px;
  }

  .tracking__waybill-box h2 {
    margin-top: 0px;
  }
  
  .tracking__tracks {
    position: relative;
  }
  
  .tracking__track {
    position: relative;
    padding-bottom: 20px;
  }
  
  .tracking__track:last-child:before {
    content: none;
  }
  
  .tracking__track:before {
    content: " ";
    display: block;
    height: 40px;
    width: 2px;
    background-color: #00509d;
    position: absolute;
    left: 16px;
    top: 25px;
  }
  
  .tracking__track-code {
    text-transform: uppercase;
    background-color: #00509d;
    padding: 5px 7px;
    margin-right: 5px;
    color: #fff;
    border-radius: 100px;
  }
  .tracking__track-time {
    float: right;
  }

  .form-group input {
    height: 40px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
}

dd, dl, figure, p {
  margin: 0 0 1.45rem;
  padding: 0;
}

dt {
  font-weight: bold;
}

.aside-text {
  margin-top: 5px;
}